*_pycache*
agdata/*
ExperimentalCode/*
iaa_todo.txt
temp.py
*_test_*
NerModelPreTrain/*
Data/CombinedSingleSentence/*
Data/Combined/*
NERtraining.png
temp/*
NerModel.tar.gz
*~
NerModel/*
NerModelTest/*
.gitignore~
.idea/*
.ipynb_checkpoints/*
CustomTokenizer.ipynb
NER-Training.ipynb
__pycache__/*
devData.json
preTrainInput/*
preTrainOutput/*
raw.json
rawTokens.json
temp2.py
tempv23.txt
testOne.json
trainData.json
training-data.json
Testing/__pycache__/*
