temp*
.DS_Store
temp.out
src/temp.txt
temp.txt
train.cfg
ner_2022*
YEDDA/
ner-annotator/
prodigy/
src/antiqueTractors.jpg
src/dev.py
src/logo.png
src/temp.json
src/temp.py
src/temp1.py
test.jsonl
test1.txt
test2.jsonl
Data/TrainingData/*.pdf
Data/TrainingData/*.json
Data/TrainingData/*.py
NerModel/*
*pycache*
*~
ExperimentalCode/*
.idea/*
src/.idea/*
.ipynb_checkpoints/*
